<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/memory.css" th:href="@{/css/memory_index.css}" />
</head>
<body>
	<form name="myform" id="myform" method="post">
		<div>
			<table class="result-tab">
				<tr>
					<th>ID</th>
					<th>标题</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
				<tr th:each="diary,row: ${diarylist.items}">
					<td th:text="${diary.id}">59</td>
					<td th:text="${diary.title}">今天是个好日子</td>
					<td th:text="${diary.ctime}">2014-03-15 21:11:01</td>
					<td><a href="#">修改</a> <a class="link-del" href="#">删除</a></td>
				</tr>
			</table>
		</div>
	</form>
</body>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
</html>