<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="/css/login_style.css" th:href="@{/css/memory_login_register.css}">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form th:action="@{/login}" method="post">
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" placeholder="请输入账号" class="form-control" name="account" tabindex="1" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="forgot.html" th:href="@{/reset}" class="float-right">Forgot Password?</a>
									</label>
									<input id="password" type="password" placeholder="请输入密码" class="form-control" name="password" tabindex="2" required>
								</div>
								
								<div class="form-group">
									<label for="password">Verification Code</label>
									<div class="flexbox">
										<input name="verifyCode" type="text" placeholder="请输入验证码" class="form-control form-controll" tabindex="3" required>
										<img src="../static/img/vericode.jpg" th:src="@{/verifycode}" />
									</div>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block" tabindex="4">Login</button>
								</div>
								
								<div class="margin-top20 text-center">Don't have an account? <a href="register.html" th:href="@{/register}">Create One</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>